<!DOCTYPE html>
{%load static%}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'basic_app/css/style.css' %}">
    <title>Thank you</title>

</head>

<body>
    <div class="personal_info_body">
        <div class="container">
            <div class="thanks_h1">
                <h1> Oops !! </h1>
            </div>
            
            <div class="thanks_p">
                <p> You can't open the experiment in two different taps. Please close this tap and continue on the other one. </p>
            </div>
        </div>
    </div>
</body>

</html>